<nav>
    <ul>
        <li><a href="/pages/index.html">Home</a></li>
        <li><a href="/pages/about.html">About</a></li>
        <li><a href="/pages/services.html">Services</a></li>
        <li><a href="/pages/gallery.html">Gallery</a></li>
        <li><a href="/pages/contact.html">Contact</a></li>
        <li><a href="/pages/blog.html">Blog</a></li>
        <li><a href="/pages/dashboard.html">Dashboard</a></li>
        <li><a href="/pages/login.html">Login</a></li>
    </ul>
</nav>
